################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PropertyView.GroupingHeader/v16
/packages
/PropertyView.GroupingHeader/bin/Debug
/PropertyView.GroupingHeader/obj/Debug
*.nupkg
