<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="1.0.0.0">
  <clientModule initializer="propertyview-groupingHeader.initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>

  <dojo>
    <paths>
      <add name="propertyview-groupingHeader" path="Scripts" />
    </paths>
  </dojo>

  <assemblies>
    <add assembly="PropertyView.GroupingHeader" />
  </assemblies>
</module>